body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: kiroregular;
  font-size: 12px;
}

.paper {
  background-color: white;
  width: 8.5in;
  height: 11in;
  padding: 0.5in;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 20px black;
}

a {
  color: #407899;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  line-height: 0.8em;
  font-weight: bold;
  margin: 0;
  clear: both;
}

h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.1in 0 0;
  clear: both;
  text-align: left;
}

h3 {
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
  margin: 0;
  clear: both;
  text-align: left;
}

#stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.alignment-right {
  text-align: right;
}

@media screen {
  #contacts {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 48px;
    box-shadow: 0px 0px 5px black;
  }
  #contacts .contactRow {
    position: relative;
    height: 48px;
    display: block;
  }
  #contacts .contactRow .contact {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    background-color: #22CCAA;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }
  #contacts .contactRow .contact_link {
    width: 0;
    position: absolute;
    top: 0;
    left: 48px;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 48px;
    line-height: 48px;
    background-color: white;
    color: #22CCAA;
  }
  #contacts .contactRow:hover > .contact, #contacts .contactRow .locked > .contact {
    color: #22CCAA;
    background-color: #FFFFFF;
  }
  #contacts .contactRow:hover > .contact_link, #contacts .contactRow .locked > .contact_link {
    width: 160px;
    padding: 0px 16px;
    border-right: 3px solid #22CCAA;
  }
}
#brand {
  margin-bottom: 24px;
  text-align: right;
}
#brand p {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
}

.section {
  margin-bottom: 0.2in;
  text-align: right;
}

#skills .column {
  width: 2.5in;
  margin: 12px 12px 0px;
  display: inline-block;
}
#skills .column h3 {
  margin-bottom: 0.2em;
}
#skills .column .entry {
  height: 1.4em;
  line-height: 1.1em;
  font-size: 1em;
}
#skills .column .entry .rating {
  height: 1.1em;
  width: 35px;
  float: left;
}
#skills .column .entry .rating .bar {
  height: 1.1em;
  width: 5px;
  background-color: #22CCAA;
  margin: 0px 1px;
  float: right;
}
#skills .column .entry .name {
  height: 1.1em;
  margin: 0px 4px;
  float: left;
}

.project {
  width: 2.5in;
  margin: 12px 12px 0px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.project .image {
  display: block;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
}
.project p {
  margin: 0.3em 0 0.3em 1.2em;
  display: list-item;
  list-item-type: square;
}
.project .metadata {
  font-style: italic;
}
.project .technologies {
  margin-left: 1em;
}
.project .technology {
  color: #fff;
  background-color: #22CCAA;
  margin: 4px 8px 4px 0px;
  padding: 2px 4px;
  display: inline-block;
  font-size: 0.8em;
}

@media print {
  body {
    background-color: white;
  }

  .paper {
    border: 0;
    padding: 0;
    box-shadow: none;
  }

  .section {
    page-break-inside: avoid;
  }

  #contacts {
    position: absolute;
    top: 0;
  }
  #contacts .contactRow {
    height: auto;
    display: block;
  }
  #contacts .contactRow .contact {
    position: relative;
    display: inline-block;
    width: 24px;
    text-align: center;
  }
  #contacts .contactRow .contact_link {
    position: relative;
    display: inline-block;
    width: 160px;
    height: auto;
    line-height: auto;
    font-size: 12px;
  }
}

/*# sourceMappingURL=index.css.map */
