@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000312}}
body {
  margin: 0;
  padding: 0;
  font-family: kiroregular; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000319}}
.paper {
  background-color: white;
  max-width: 800px;
  padding: 80px 80px 80px 100px;
  margin: 0px auto;
  position: relative;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000335}}
h1 {
  font-size: 3.3em;
  line-height: 0.8em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000344}}
h2 {
  font-size: 1.7em;
  line-height: 2.0em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  clear: both;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000354}}
h3 {
  font-size: 1.0em;
  line-height: 1.4em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  clear: both;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000364}}
#stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000370}}
  #stickyHeader .paper {
    padding: 0px 80px 0px 100px;
    box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000376}}
.alignment-right {
  text-align: right; }

@media screen {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000385}}
  #contacts {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000390}}
    #contacts .contactRow {
      position: relative;
      height: 48px;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\0000394}}
      #contacts .contactRow .contact {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        text-align: center;
        background-color: #22ccaa;
        color: #FFFFFF;
        transition: all 0.3s ease;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003108}}
      #contacts .contactRow .contact_link {
        width: 0;
        position: absolute;
        top: 0;
        left: 48px;
        overflow: hidden;
        transition: all 0.3s ease;
        height: 48px;
        line-height: 48px;
        background-color: white;
        color: #22ccaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003121}}
      #contacts .contactRow:hover > .contact, #contacts .contactRow .locked > .contact {
        color: #22ccaa;
        background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003125}}
      #contacts .contactRow:hover > .contact_link, #contacts .contactRow .locked > .contact_link {
        width: 160px;
        padding: 0px 16px;
        border-right: 3px solid #22ccaa; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003136}}
#brand {
  margin-bottom: 24px;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003139}}
  #brand .lead {
    height: 0.3em;
    width: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003143}}
  #brand p {
    font-size: 0.75em;
    line-height: 1em;
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003154}}
.section {
  margin-bottom: 30px;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003163}}
#skills .column {
  width: 240px;
  margin: 20px 12px 0px;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003167}}
  #skills .column .entry {
    height: 1.4em;
    line-height: 1.1em;
    font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003171}}
    #skills .column .entry .rating {
      height: 1.1em;
      width: 28px;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003175}}
      #skills .column .entry .rating .bar {
        height: 1.1em;
        width: 5px;
        background-color: #22ccaa;
        margin: 0px 1px;
        float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003183}}
    #skills .column .entry .name {
      height: 1.1em;
      margin: 0px 4px;
      float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003194}}
.project {
  width: 240px;
  margin: 12px;
  display: inline-block;
  vertical-align: top;
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003201}}
  .project img {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003204}}
  .project .metadata {
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003207}}
  .project .technology {
    color: #fff;
    background-color: #22ccaa;
    margin: 4px 8px 4px 0px;
    padding: 2px 4px;
    display: inline-block;
    font-size: 0.8em; }

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003229}}
  .paper {
    border: 0;
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003234}}
  .section {
    page-break-inside: avoid;
    text-align: left;
    margin-top: 48px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003240}}
  #skills .column {
    width: 200px;
    margin: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003244}}
  .project {
    width: 200px;
    font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003250}}
  #contacts {
    position: absolute;
    top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003253}}
    #contacts .contactRow {
      height: 24px;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003256}}
      #contacts .contactRow .contact {
        position: relative;
        display: inline-block;
        width: 24px;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/mienaikoe\.github\.io\/scss\/index\.scss}line{font-family:\00003262}}
      #contacts .contactRow .contact_link {
        position: relative;
        display: inline-block;
        width: 160px;
        height: 24px;
        line-height: 24px;
        font-size: 12px; } }
