// Variables

$trim:#22CCAA;
$contact_trim:#FFFFFF;

$contact_dimension:48px;
$column_dimension: 240px;


// Top-Level

body {
    margin: 0;
    padding: 0;
    //background-color: #ccc;
    font-family: kiroregular;
}

.paper{
    background-color: white;
    max-width: 800px;
    padding: 80px 80px 80px 100px;
    //border-right: 1px solid black;
    //border-left: 1px solid black;
    //box-shadow: 0px 0px 15px #333;
    margin: 0px auto;
    position: relative; //for the absolutes
    overflow: hidden;
}



// Headings

h1{
    font-size: 3.3em;
    line-height: 0.8em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    clear: both;
}

h2{
    font-size: 1.7em;
    line-height: 2.0em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    clear: both;
    text-align: left;
}

h3{
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    clear: both;
    text-align: left;
}

#stickyHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    .paper{
        padding: 0px 80px 0px 100px;
        box-shadow: none;
    }
}

.alignment-right{
    text-align: right;
}



// Special Sections

@media screen{
    #contacts{
        position: fixed;
        top: 100px;
        left: 0px;
        width: $contact_dimension;
        .contactRow{
            position:relative;
            height: $contact_dimension;
            display: block;
            .contact{
                width: $contact_dimension;
                height: $contact_dimension;
                line-height: $contact_dimension;
                font-size: 18px;
                text-align: center;
                background-color: $trim;
                color: #FFFFFF;
                transition: all 0.3s ease;
                cursor: pointer;
                position: absolute;
                top:0;
                left:0;
            }
            .contact_link{
                width: 0;
                position: absolute;
                top:0;
                left: $contact_dimension;
                overflow: hidden;
                transition: all 0.3s ease;
                height: $contact_dimension;
                line-height: $contact_dimension;
                background-color: white;
                color: $trim;
            }
            &:hover, .locked{
                & > .contact{
                    color: $trim;
                    background-color: #FFFFFF;
                }
                & > .contact_link{
                    width: 160px;
                    padding: 0px 16px;
                    border-right: 3px solid $trim;
                }
            }
        }
    }
}


#brand{
    margin-bottom: 24px;
    text-align: right;
    .lead{
        height: 0.3em;
        width: 1em;
    }
    p{
        font-size: 0.75em;
        line-height: 1em;
        margin: 0;
    }
}



// Content Sections

.section{
    margin-bottom: 60px;
    text-align: right;
}


$skill_entry_height:1.1em;

#skills{
    .column{
        width: $column_dimension;
        margin: 20px 12px 0px;
        display:inline-block;
        .entry{
            height: 1.4em;
            line-height: $skill_entry_height;
            font-size: 0.8em;
            .rating{
                height: $skill_entry_height;
                width: 28px;
                float: left;
                .bar{
                    height: $skill_entry_height;
                    width: 5px;
                    background-color: $trim;
                    margin: 0px 1px;
                    float: right;
                }
            }
            .name{
                height: $skill_entry_height;
                margin: 0px 4px;
                float: left;
            }
        }
    }
}



.project{
    width: $column_dimension;
    margin: 20px 12px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    img{
        width: 100%;
    }
    .metadata{
        font-style: italic;
    }
    .technology{
        color: #fff;
        background-color: $trim;
        margin: 4px 8px 4px 0px;
        padding: 2px 4px;
        display: inline-block;
        font-size: 0.8em;
    }
}







@media screen and (max-width: 980px) {

}

@media print{
    // Standard is 670px
    .paper{
        border: 0;
        padding: 0;
    }
    
    .section{
        page-break-inside: avoid;
        //page-break-after: always;
        text-align: left;
        margin-top: 48px;
    }
    #skills .column{
        width: 200px;
        margin: 8px;
    }
    .project{
        width: 200px;
        font-size: 12px;
    }
    
    $print_dimension: 24px;
    #contacts{
        position: absolute;
        top: 0;
        .contactRow{
            height: $print_dimension;
            display: block;
            .contact{
                position: relative;
                display: inline-block;
                width: $print_dimension;
                text-align: center;
            }
            .contact_link{
                position: relative;
                display: inline-block;
                width: 160px;
                height: $print_dimension;
                line-height: $print_dimension;
                font-size: 12px;
            }
        }
    }
}
