@font-face{
	font-family: "Gudea";
	src: url(fonts/Gudea-Regular-webfont.woff);
}

@font-face{
	font-family: "Lovelo Black";
	src: url(fonts/Lovelo_Black.woff);
}


body {
	margin: 0;
	padding: 0;
	background-color: #aaa;
	font-family: Gudea;
}

#centra{
	background-color: white;
	max-width: 900px;
	padding: 30px;
	margin: 0px auto;
}
.headlines{
	margin: 1em 0px;
	text-align: center;
}

h1{
	font-size: 3em;
	letter-spacing: 0.1em;
	font-family: Lovelo Black;
	margin: 0.4em 0 0.2em;
}

h2{
	font-size: 2em;
	clear: both;
	font-family: Lovelo Black;
	float: none;
}

h3{
	font-family: Lovelo Black;
	margin: 0px;
}

a.contact{
	text-align: center;
	text-decoration: none;
	color: #37a;
	font-weight: bold;
	display: block;
}
a.contact:visited{
	color: #77a;
}


.section{
	margin-top: 7em;
	clear: both;
	overflow: hidden;
}

.section .ditch{
	width: 50px;
	height: 1px;
	float: left;
}


.skillwords{
	float: left;
	text-align: left;
}
.skillbars{
	float: right;
	text-align: right;
}
.skillbar{
	font-weight: bold;
	text-align: right;
	float: right;
}
.skillbar.high{
	color: #9B5;
}
.skillbar.medium{
	color: #BB4;
}
.skillbar.low{
	color: #B95;
}


.card{
	border-top: 3px solid black;
	padding-top: 0.5em;
	margin-top: 2em;
	max-width: 425px;
	float: left;
}

@media screen and (max-width: 980px) {
	.card{
		float: right;
	}
}


.card .stretcher{
	height: 1em;
}

.card h3{
	font-size: 1.2em;
	text-align: right;
}
.card .time, .card .role, .card .place{
	line-height: 1.2em;
	text-align: right;
}
.card .place{
	font-style: italic;
}
.card .points{
	padding-left: 20px;
}
