@font-face{
	font-family: Gudea;
	src: url(fonts/Gudea-Regular-webfont.woff);
	src: url(fonts/Gudea-Regular-webfont.eot);
	src: url(fonts/Gudea-Regular-webfont.otf);
	src: url(fonts/Gudea-Regular-webfont.svg);
}

@font-face{
	font-family: Lovelo Black;
	src: url(fonts/Lovelo_Black.woff);
	src: url(fonts/Lovelo_Black.eot);
	src: url(fonts/Lovelo_Black.otf);
	src: url(fonts/Lovelo_Black.svg);
}